body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    padding-top: 0px;
    padding-right: 28px;
    padding-bottom: 0px;
    padding-left: 28px;
    box-sizing: border-box;
    position: fixed;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-position: left;
    background-size: cover;
}

#menu:hover #menu{
    #menu{
        display: block;
        position: absolute;
        top: 40px;
        right: 50px;
    }
}
#text-p{

	color:  rgb(152,152,164);

 
    width: 100%;
    max-width: 1100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
   
}
#text-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right{
display:flex;
align-item:center;
justify-content:center;
}
#right a{
margin-top:5px;
}

#menu{
    display: block;
    display: none;
    border: 0;
    background-color: white;
    width: 10px;
    height: 110px;
    border-top: 2px solid white;
}
#demo:hover{
    #menu{
        display: block;
        position: absolute;
        top: 40px;
        right: 20px;
    }
}
#demo a{
    text-decoration: none;
    /* padding: 10px; */
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80px;
   font-family: 'Poppins', sans-serif;
color: black; 
font-weight: 600;

font-size: medium;
}
#demo{
    width: 100px;
   
}

#watch-video{
color: black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 28px;
    cursor: pointer;
	text-decoration:none;
font-family: 'Poppins', sans-serif;
	
}

.dropdown-blocks{
	    display: block;
    display: inline-block;
    


}
.dropdown-blocks a{
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;
}


#left > img{
    margin-left: 25px;
}

#menu{
    display: block;
    display: none;
    border: 0;
    background-color: aquamarine;
    width: 80px;
    height: 110px;
    border-top: 2px solid rgb(193, 227, 141);
    margin-top: 10px;
    padding-top: 10px;
margin-right:380px;

}
#demo:hover{
    #menu{
        display: block;
    }
}
#menu a{
    margin-left: 25px;
}
#demo a{
    text-decoration: none;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80px;

	color: black;
    font-weight: 600;
    font-size: 14px;

}

#buy{
        font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}

#demo{
    border: none;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
}

#banner{
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    width: 100%;
    height: 100vh;
    background-size: cover;

}
#banner-h{
        width: 100%;
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
	

	
}


#banner{
    padding-top: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
main{
    display: block;
    width: 100%;
    
}
#steps{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    
}
#step1{
    width: 25%;
    background-color: rgb(89,204,166);
    padding-top: 112px;
    padding-right: 48px;
    padding-bottom: 112px;
    padding-left: 48px;
    text-align: center;
    color: white;
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    line-height: 1.5;
   
}
#step1 i{
   
font-size: 96px;
    transition: all 0.3s;
}
#step2 i{
  font-size: 96px;
    transition: all 0.3s;
}

#step3 i{
  font-size: 96px;
    transition: all 0.3s;
}

#step4 i{
    font-size: 96px;
    transition: all 0.3s;
}

#step1 i:hover{
    font-weight: bolder;
}
#step-no{
font-weight: 600;
    font-size: 24px;
	padding-top:5px;
padding-bottom:10px;
}
#step2{
    width: 25%;
 
  
    text-align: center;
    background-color: rgb(144,172,64);
    color: white;
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    line-height: 1.5;

padding-top: 112px;
    padding-right: 48px;
    padding-bottom: 112px;
    padding-left: 48px;
}
#step3{
    width: 25%;
    
padding-top: 112px;
    padding-right: 48px;
    padding-bottom: 112px;
    padding-left: 48px;
    text-align: center;
    background-color: rgb(227,180,118);
    color: white;
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    line-height: 1.5;
}
#step4{
    width: 25%;
  
    
padding-top: 112px;
    padding-right: 48px;
    padding-bottom: 112px;
    padding-left: 48px;
    text-align: center;
    background-color: rgb(245,157,173)    ;
    color: white;
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    line-height: 1.5;
}
#store{

    width: 100%;
    background-color: #f7eee2;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}
#store > h1{
       font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
#store  p{
    color: rgb(157, 150, 150);
}

#store-container{
   width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
    
}
#store-item{
     width: 25%;
    text-align: center;
    padding: 24px;
}
#store-item > h1{
    /* padding: 24px; */
    font-weight: 600px;
}
#step1 i:hover{
    scale: 120%;
}
#step2 i:hover{
    scale: 120%;
}
#step3 i:hover{
    scale: 120%;
}
#step4 i:hover{
    scale: 120%;
}

footer{
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
#shop{
    text-align: center;
   	padding-top:75px;
	padding-bottom:75px;
display: block;
}

#store > h1{
font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
#shop-worker{
   width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#worker{
    width: 25%;

    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
display:block;
}
#worker img{
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}
#worker p{
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}
#worker h3{
text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}
#ratings{
    width: 100%;
    
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(246,252,250);
}
#rate h1{
    font-size: 44px;
    font-weight: 600px;
}
#rate p{
    color: rgb(172,240,216);
    font-style: italic;
}
#rate{
    width: 25% ;
    /* padding: 0 64px; */
 
}
#sample-video{
    text-align: center;
}
#sample-video h1{
    font-size: 44px;
    color: rgb(139,139,153);
    font-weight: 400px;
}
#contact{
        display: block;
}
#fms{
width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
}
#form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#contact-us{
    padding: 30px;
    width: 50%;
}
#meet-right{
width: 40%;
padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
 }
#contact-us p{
font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

#meet-right p{
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
#meet-right h1{
    font-size: 44px;
}
#form > input{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
    border: 1px solid  #e5e6ec;
    border-radius: 5px;
    height: 35px;
    font-size: large;
}
#text-wrap > h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#slanting{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
}
#logos{

    
	
	display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;

	padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

#follow-us{
    display: flex;
    width: 100%;
    justify-content: stretch;
}
#contact-us h1{
    
    font-size: 44px;
}


#follow-left{
    width: 65%;
}
#follow-right-div > h1{
    font-size: 44px;
    font-weight: 600;
}
#follow-right-div > p{
    color: #8b8b99;
    line-height: 1.5;
}
#follow-right{
    width: 35%;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
}
#follow-right-div button{
    background-color: rgb(245,157,173);
    border-radius: 2px;
    background-color: #f69dad;
padding: 16px 42px;
border-radius: 4px;
cursor: pointer;
color: white;
border: 0;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
margin-top: 16px;
}
#follow-right-div button:hover{
    background-color: transparent;
    color: #f69dad;
    border: 1px solid #f69dad;
}
#follow-right-div{
    margin-top: 115px;
margin-right: 115px;
margin-bottom: 115px;
margin-left: 115px;
}
#follow-right-div input{
    width: 100%;
    background-color: white;
    padding: 12px;
   color: #8b8b99;
   box-sizing: border-box;
border: 0;
border-radius: 4px;
font-weight: 500;
}
#store  #slanting{
    color: #91ac41;
}
#heading{
        max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}
#worker p{
    color: rgb(149,149,162);
}


#logos:hover{
    scale: 120%;
}

#store-item > p{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}
#final-submit{
    width: 40%;
                  background-color: rgb(170, 210, 53);
                  border: none;
                  border-radius: 5px;
                  font-size: 16px;
                  font-weight: 600;
                  color: white;
                  /* padding-top: 9px;
    padding-right: 34px;
    padding-bottom: 9px;
    padding-left: 34px; */
}

@media screen and (max-width:600px){
    
     #store-container {
        display: flex;
    
        flex-direction: column;
    }
    #store-item{
        width: 100%;
    }

#shop-worker{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#worker{
    width: 100%;
}
#steps{
    display: flex;
    flex-direction: column;
}
#step1 , #step2 , #step3 , #step4{
    width: 100%;
}
#contact{
    display: flex;
    flex-direction: column;
}

#meet{
    width: 100%;
}
#follow-us{
    display: flex;
    flex-direction: column;
}
#follow-left{
    width: 100%;
}
#follow-right{
    width: 100%;
}
#form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#fms{
    flex-direction: column;
}
#form{
    width: 50%;
}
#meet-right{
    width: 70%;
}
#final-submit{
    width: 70%;
}
#ratings{
    display: flex;
    flex-direction: column;
}
#rate{
    width: 100%;
}
#right a{
    display: none;

}
nav{
    position: fixed;
    top: 0;
    display: flex;
}
#banner-h{
    width: 100%;
    max-width: 1100px;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
}


}

