header {
  background-color: #282c34;
  
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  margin: auto;
}
#name{
  width: 100px;
  border-radius: 10px;
  height: 30px;
  margin-left: 50px;
  margin-bottom: 10px;
}
#submitBtn{
  width: 100px;
  border-radius: 10px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
#review{
  width: 100px;
  border-radius: 10px;
  height: 30px;
  margin-left: 40px;
  
}
#ratings{
  width: 100px;
  border-radius: 10px;
  height: 30px;
  margin-left: 45px;
  margin-bottom: 10px;
}
#location{
  width: 100px;
  border-radius: 10px;
  height: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}
#submitBtn{
  display: none;
} 
 #header-left{
  display: flex;
  height: 100%;
  align-items: center;
}
#header-left > a{
  padding: 20px;
  background-color: blueviolet;
  margin: 10px;
  height: 20px;
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  color: rgb(84,213,247);
  
}
#dataCard{
  width: 70vw;
  display: flex;
  margin: 10px;
  border: 1px solid black;
  margin-left: 250px;
}
#header-right {
  display: flex;
  align-items: center;
  height: 100%;
}
#login-logo{
  margin-right: 0px;
  float: right;
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 50px;
  margin: 10px;
}
main{
  height: 90vh;
  width: 100vw;
  display: flex;
}
#main-left{
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  height: 100%;
}
#main-left > p{
  padding: 10px;
  padding-left: 50px;
  width: 50%;
  background-color: rgb(190, 245, 251);
}
#main-right{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 85%;
}
#elements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43%;
  width: 20%;
  background-color: rgb(0,180,247);
  margin: 10px;
}
#deleteBtn{
  margin-bottom: 10px;
}
#person{
  border-radius: 100%;
  width: 70%;
  height: 50%;
}
#elements > p{
  font-weight: 600;
}

#sampletask{
  width: 500px;
  height: 500px;
}
#photDiv{
  margin-right: 100px;
}
/* #photoDiv{
  width:200px;
  height: 200x;
} */
#photoDiv > img{
  width: 100px;
  height: 150px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
#registerMainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100dvw;
  
}
#formDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  margin-left: 550px;
}
